.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mediaRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.mediaRow .mediaItem {
  width: 240px;
  height: 240px;
  object-fit: cover;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noImg {
  width: 200px;
}

.button {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  list-style: none;
  margin: 5px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.yesButton  {
  background-color: rgb(34, 197, 94);
}

.noButton {
  background-color: rgb(239, 68, 68);
}

.yesButton:hover {
  background-color: rgb(4, 167, 64);
}

.noButton:hover {
  background-color: rgb(209, 38, 38);
}

.oiia-standing {
  width: 150px;
  position: absolute;
  top: -75px;
  right: -28px;
  pointer-events: auto;
  cursor: pointer;
}

.oiia-dancing {
  width: 150px;
  position: absolute;
  top: -75px;
  right: -110px;
  pointer-events: auto;
  cursor: pointer;
}